html,
body,
header,
.carousel {
  height: 100%;
}
img {
  height: 15vh;
}
/* * {
  background-color: transparent;
} */

a {
  margin: 0px 10px;
  cursor: pointer;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.2);
}

@media (min-width: 800px) and (max-width: 850px) {
  a {
    color: white !important;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1c2331;
  }
  img {
    height: 5vh;
  }
}
