.uicard {
  position: relative;
  background-color: #2b303b;
  width: 459px;
  height: 599px;
  margin: 0 auto;
  /* /margin-left: 10px; */
  margin-top: 10rem;
  border-radius: 5px;
  box-shadow: 3px 2px 15px 0px #212129;
}
.fon img {
  position: relative;
  border-radius: 5px 5px 0 0;
  position: relative;
  margin: 0 auto;
  width: 459px;
  height: 273px;
}

.user img {
  position: relative;
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 90px;
  border: 2px solid #fff;
  bottom: 50px;
  overflow: visible;
}
.user p {
  font-size: 2.1em;
  color: #fff;
  margin-top: -20px;
}
.info {
  margin-top: 15rem;
  background: rgb(60, 63, 75);
  height: 500px;
  width: 600px;
  text-align: center;
  color: white;
}
